<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>石家庄铁道大学</strong>
                        <span>2018 - 2022 | 软件工程</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>学习计算机专业基础知识，并获得二等奖学金，优秀团员等。
                        </p>
                        <p>参与蓝桥杯、中国软件杯、服务外包杯、中国计算机设计大赛、网页设计大赛等计算机专业竞赛，并获得蓝桥杯省二等奖、中国计算机设计大赛省三等奖、网页设计师大赛二等奖。
                        </p>
                        <p>参加校青年志愿者协会，积极参与志愿者活动，并获得校志愿者之星称号。
                        </p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
