<section class="section brd-btm" id="certification">
    <h2 class="title-thin text-muted">个人性格</h2>

 <div class="row">
    <div class="ref-info">
                    <blockquote class="ref-cont clear-mrg">
                        <p>    我的性格偏于外向，为人坦率、热情、吃苦耐劳、具有一定的自学能力。参加过校青年志愿者协会，积极的参与志愿活动。
                        </p>
                        <p>    想象力丰富，时常有些新奇的想法，有旺盛的好奇心。
                        </p>
                        <p>    有良好的沟通能力，善于与他人相处，富有团队合作精神，具有一定的团队组织能力
                        </p>
                        <p>    喜欢运动、打篮球，也喜欢追番看动漫
                        </p>
                    </blockquote>
     </div>
     
 </div>
</section><!-- .section -->
