<section class="section" id="personal_project">
    <h2 class="title-thin text-muted">个人作品</h2>
    <div class="pf-wrap">
        <div class="pf-grid">

        <div class="pf-grid-sizer"></div><!-- used for sizing -->

            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/zdxq.png' | prepend: site.baseurl }}" alt="">
                    </figure>
                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">河北重大技术需求征集系统</h2>
                                <p>基于JAVA的河北重大技术需求征集系统，包含需需求填报以及需求审核等的完整流程。</p>
                                <a href="javascript:;" class="pf-btn-view btn btn-primary">详情</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item design">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/yqc.jpeg' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">益青春APP</h2>
                                <p>基于Android的运动系APP，旨在为青年大学生提供饮食健康、运动等知识以及监督和制定饮食、运动计划等。</p>
                                <a href="https://www.cnblogs.com/wendi/p/13035206.html" class="pf-btn-view btn btn-primary" target="_blank">详情</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/AI.jpeg' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">人工智能应用平台</h2>
                                <p>基于国产操作系统的深度学习框架应用和展示平台。</p>
                                <a href="javascript:;" class="pf-btn-view btn btn-primary">详情</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .pf-grid-item -->
            
            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/fz.jpeg' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">服装购物商城</h2>
                                <p>基于Php的简易服装购物商城系统，包含完整的购物流程和后台管理。</p>
                                <a href="https://www.cnblogs.com/wendi/p/13044837.html" class="pf-btn-view btn btn-primary">详情</a>
                            </div>
                        </div>
                    </div>
                </div>               
            </div><!-- .pf-grid-item -->
            
            
            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/yq.jpeg' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">疫情数据可视化系统</h2>
                                <p>基于JavavWeb的疫情数据可视化系统，运用各种图表动态展示疫情最新信息。</p>
                                <a href="https://www.cnblogs.com/wendi/p/14162940.html" class="pf-btn-view btn btn-primary">详情</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .pf-grid-item -->
        </div>
    </div>
</section><!-- .section -->
